*.iml
.gradle
.kotlin
/local.properties
/.idea/
.DS_Store

# Build directories
build/
*/build/
**/build/
app/build/
.build-outputs/

# Binary & Package files
*.aab
*.ap_
*.dex
*.class
*.so

# Captures & Native build
/captures
.externalNativeBuild
.cxx

# Secrets & Keystores
local.properties
.env
debug.keystore
debug.keystore.base64
*.keystore
*.jks
